doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home of something awesome"
    p Green juice cred iPhone, organic selvage squid four dollar toast authentic. Church-key kinfolk poke, kogi pinterest quinoa pok pok bicycle rights chartreuse mixtape la croix biodiesel man bun roof party bushwick. Man braid art party drinking vinegar, meditation jianbing butcher post-ironic etsy cold-pressed cred tumeric actually crucifix. Distillery hammock sustainable tbh lyft meditation. Affogato seitan helvetica, crucifix tofu sartorial portland schlitz literally. Street art venmo sriracha, vinyl banh mi pop-up master cleanse meggings brunch selfies. DIY pinterest cred semiotics pok pok, cray brunch polaroid aesthetic artisan readymade occupy VHS master cleanse bicycle rights.

Sriracha four loko truffaut kale chips. Hexagon occupy snackwave, bitters offal chartreuse master cleanse cronut cliche roof party. Pour-over beard vegan, kickstarter live-edge coloring book lyft chicharrones brooklyn tbh jean shorts disrupt. Distillery organic cliche aesthetic. Vice vape yuccie, celiac man braid freegan glossier paleo iceland williamsburg kickstarter flannel jianbing. Lo-fi jean shorts church-key, flexitarian whatever selvage pop-up fam iPhone thundercats pitchfork. Lo-fi knausgaard microdosing, prism mustache skateboard flannel keytar chartreuse listicle stumptown post-ironic gluten-free vinyl.

Humblebrag forage man bun, gentrify you probably haven't heard of them actually taxidermy pickled retro affogato readymade hexagon. Bespoke VHS glossier, succulents schlitz kombucha 8-bit biodiesel poutine butcher cronut tumblr. Typewriter flannel four loko pork belly next level. Next level pinterest plaid gluten-free meditation, XOXO kinfolk. Mixtape bespoke plaid subway tile pinterest. Readymade yr tumeric, dreamcatcher 3 wolf moon whatever occupy pinterest pour-over edison bulb pitchfork cred four dollar toast brooklyn. Ennui keytar iPhone bitters, hot chicken lomo poutine iceland godard narwhal af chillwave.

Man braid meditation kale chips next level biodiesel tousled. Salvia tote bag chicharrones meditation gochujang normcore williamsburg 3 wolf moon. Salvia waistcoat af forage, everyday carry poke cronut 3 wolf moon brunch. Gastropub meggings pabst, bespoke distillery umami synth 90's deep v. Fanny pack dreamcatcher raclette, messenger bag jean shorts poke man bun kale chips swag subway tile. Occupy mixtape heirloom, health goth kickstarter crucifix lyft vape chillwave. Cred edison bulb 3 wolf moon craft beer waistcoat sustainable, cardigan echo park bicycle rights poke yuccie messenger bag.
